.budget-filter {
    color: white;
    padding: 0 1rem;
}

.budget-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.budget-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.budget-filter select {
    font: inherit;
    padding: 0.25rem 2rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid lightgreen;
    height: 2rem;
    display: grid;
    place-content: center;
}

.budget-filter h5 {
    text-align: left;
}