.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: rgb(173, 216, 230);
    background:rgba(173, 216, 230,0.5);
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    width: 85%;
    margin-inline: auto;
}