.account__summary {
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    color: white;
    margin-top: 0.5rem;
}

.card__top{
    width: max-content;
    align-self: center;
    color: goldenrod;
}

.card__bottom-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.account__summary h4 {
    margin: 0;
    font-weight: 500;
}

.card__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.account__value {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.card__bottom-section .account__value {
    font-size: 1rem;
}

.card__bottom-section h4 {
    font-size: small;
}