.new-budget__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    text-align: left;
    width: 80%;
    padding: 1em;
    margin-inline: auto;
}


.new-budget__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    visibility: visible;
    left: 0;
    position: static;
}
.new-budget__control input, .new-budget__control select {
    font: inherit;
    padding: 0.5rem;
    height: 2em;
    border-bottom: 2px solid gray;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.35);
    /* background: transparent;
    color: white; */
}

.new-budget__control select {
    padding: 0 0.5em;
    border: none;
    border-bottom: 2px solid gray;
}

.new-budget__control {
    width: 45%;
}

.new-budget__actions {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.new-budget__actions button {
    height: 2em;
    font-size: 1em;
    width: 40%;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    display: grid;
    place-content: center;
    margin: .5em
}