.expense-date {
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 3rem;
    border: 1px solid #ececec;
    background-color: rgba(50,235,235,0.25);
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

.expense-date__month {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.5ch;
}

.expense-date__year {
    font-size: 0.75rem;
}

.expense-date__day {
    font-size: 1rem;
    font-weight: bold;
}

.expense-date__header {
    display: flex;
    flex-direction: row;
}