.delete__confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 13%, rgba(9,121,95,1) 69%, rgba(0,255,235,1) 100%);
    z-index: 10;
    box-sizing: border-box;
    padding: 1.5rem;
}


.delete__confirmation__section::before {
    content: "";
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%,-50%);
    background-color: rgba(250,250,250,0.4);
}

.delete__confirmation .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}